* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: #12c2e9;  /* fallback for old browsers */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: scroll;
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.navbar-brand img{
  width:30px;
  height:30px;
  margin-right:10px;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: 15em;
  margin-bottom: 50%;
}

.inner {
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.deets {
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  /* padding: 40px 55px 45px 55px; */
  border-radius: 15px;
  transition: all .3s;
}

.carousel {
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.outer h2 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 250%;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.main {
  width: 100%;
  margin: auto;
  margin-top: 15px;
  border-radius: 15px;
  transition: all .3s;
  text-align: center;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'main main menu '
    'footer footer menu';
  gap: 10px;
  padding: 60px 10px;
}

.grid-container > div {
  text-align: center;
  padding: 5px 0;
}

div.hideImg img[alt] {
  margin-left: -16px;
  text-indent: 16px;
}

.hideImg .carousel{
  height: 6.9rem;
}

.user-state{
  margin: auto;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px;
  border-radius: 15px;
  transition: all .3s;
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: left;
}
.user-streak{
  margin: auto;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px;
  border-radius: 15px;
  transition: all .3s;
  color: rgb(57, 61, 83);
  width: 100%;
  height: 100%;
  text-align: left;
}

.user-streak img{
  width:80px;
  height:80px;
  float:left;
  margin-right:18px;
}

.user-state img{
  width:100px;
  height:100px;
  margin-right:25px;
  margin-left:25px;
  float:left
}

.leadPlace {
  margin: auto;
  background: linear-gradient(to right,#ffc446, #f04848);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  padding: 15px;
  transition: all .3s;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 500;
}

.carousel {
  height: 32rem;
  position: relative;
}

